html {
   text-align: center;
   background-color: #eae3e3;
   margin: 0;
   padding: 0;
}
/*instructions*/

#instructions {
   font-family: 'Anton', sans-serif;
   padding-top: 2.5em;
   margin: 0;
}
#instructions li {
   font-size: 1.4em !important;
   color: #404b69;
   text-align: left;
   padding: 0.5em 0 0.5em 16em;
}
#instructions h1 {
   font-size: 1.5em !important;
   color: #404b69;
   text-align: center;
}
ul {
   list-style-type: none;
}
/* Style the accordion panel. Note: hidden by default */

.panel {
   padding: 0 18px;
   display: none;
   overflow: hidden;
}
/*
Player
*/

.playerMsgContent {
   font-size: 6em;
   font-weight: 700;
   color: #860f44;
   /* Position the message */
   position: absolute;
   font-family: 'Luckiest Guy', cursive;
}
/*
 Congratulations Popup (Appears once the player reach the water)
 */

/* The Modal (background) */

.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: #61c0bf;
   opacity: 0.9;
   /* Black w/ opacity */
}
/* Modal Content/Box */

.modal-content {
   margin: 15% auto;
   /* 15% from the top and centered */
   padding: 20px;
   width: 80%;
   font-size: 3em;
   letter-spacing: 0.5em;
   color: #f9ed69;
   font-family: 'Luckiest Guy', cursive;
   /* Could be more or less, depending on screen size */
}
/* Add Animation */

@-webkit-keyframes animatetop {
   from {
      top: -200px;
      /* opacity: 1 */
   }
   to {
      top: 0;
      /* opacity: 1 */
   }
}
@keyframes animatetop {
   from {
      top: -200px;
      /* opacity: 0 */
   }
   to {
      top: 0;
      /* opacity: 1 */
   }
}
/* Modal Close Button */

.close {
   color: #fc5185;
   float: right;
   font-size: 4em;
   font-weight: bold;
}
.closeInstructions {
   color: #fc5185;
   font-size: 9em;
   float: right;
   padding-right: 2em;
   margin: 0;
}
.close:hover, .closeInstructions:hover, .close:focus, .closeInstructions:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
